#no-mobile {
  position:absolute;
  z-index: 99;
  height: 100vh;
  background-color: #ffe500;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width:667px) {
  #no-mobile {
    display: none;
  }
}